// /* Colors */
#app {
  .text- {
    &yellow {
      color: $yellow;
    }
    &primary {
      color: $primary;
    }
    &secondary {
      color: $secondary;
    }
    &black {
      color: $black;
    }
    &green-light-1 {
      color: $green-light-1 !important;
    }
  }

  .bg- {
    &yellow {
      background-color: $yellow;
    }
    &primary {
      background-color: $primary;
    }
    &secondary {
      background-color: $secondary;
    }
    &blue-1 {
      background-color: $blue-1;
    }
    &blue-2 {
      background-color: $blue-2;
    }
    &blue-3 {
      background-color: $blue-3;
    }
    &blue-4 {
      background-color: $blue-4;
    }
    &blue-5 {
      background-color: $blue-5;
    }
  }

  .white {
    color: #fff !important;
  }
  .yellow {
    color: $yellow;
  }
  .black {
    color: #000 !important;
  }

  .opacity-75 {
    opacity: 0.75;
  }

  .bg-black {
    background-color: $black;
  }

  .bg-white {
    background-color: $white;
  }

  .text-warning {
    color: $yellow;
  }
}
